@font-face {
  font-family: "Noor";
  src: url("../fonts/Noor/Noor-Light.woff2") format("woff2"), url("../fonts/Noor/Noor-Light.woff") format("woff"), url("../fonts/Noor/Noor-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noor";
  src: url("../fonts/Noor/Noor-Regular.woff2") format("woff2"), url("../fonts/Noor/Noor-Regular.woff") format("woff"), url("../fonts/Noor/Noor-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noor";
  src: url("../fonts/Noor/Noor-Bold.woff2") format("woff2"), url("../fonts/Noor/Noor-Bold.woff") format("woff"), url("../fonts/Noor/Noor-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Light.woff") format("woff"), url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
  --bs-gutter-x: 30px;
  --sal-duration: 1s;
  --primary-color: #21227e;
  --secondery-color: #a748b4;
  --bg-color: #f2f2f2;
  --primary-text: #000000;
  --secondery-text: #8485f0;
  --third-text: #808080;
  --footer-text: #666666;
  --gradient-one: #a946b3;
  --gradient-two: #676ff1;
  --faq-border: #e8e8e8;
  --faq-bg: #f7f7f7;
  font-size: 16px;
}

body {
  position: relative;
  font-weight: normal;
}
html[dir=rtl] body {
  font-family: "Noor";
}
html[dir=ltr] body {
  font-family: "Poppins";
}
body::-webkit-scrollbar {
  background-color: #fff;
  width: 7px;
  height: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.overflow {
  overflow: hidden !important;
}

* {
  outline: none !important;
}

.container {
  --bs-gutter-x: 30px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.en {
  font-family: "Poppins";
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
section {
  padding: 93px 0 0;
}
@media (max-width: 991px) {
  section {
    padding: 70px 0 0;
  }
}
section.content-section {
  padding: 0;
}
section.services-section {
  padding-bottom: 77px;
}
@media (max-width: 991px) {
  section.services-section {
    padding-bottom: 50px;
  }
}
section.whoNeedThis-section {
  padding-bottom: 105px;
}
@media (max-width: 991px) {
  section.whoNeedThis-section {
    padding-bottom: 75px;
  }
}
section.whatwillwYouLearn-section {
  padding-bottom: 108px;
}
@media (max-width: 991px) {
  section.whatwillwYouLearn-section {
    padding-bottom: 75px;
  }
}
section.dontMiss-section {
  padding: 63px 15px 68px;
}
@media (max-width: 991px) {
  section.dontMiss-section {
    padding: 35px 15px 35px;
  }
}
section.about-section {
  padding-bottom: 92px;
}
@media (max-width: 991px) {
  section.about-section {
    padding-bottom: 70px;
  }
}
section.features-section {
  padding-bottom: 110px;
}
@media (max-width: 991px) {
  section.features-section {
    padding-bottom: 75px;
  }
}
section.testimonials-section {
  padding-bottom: 80px;
}
@media (max-width: 991px) {
  section.testimonials-section {
    padding-bottom: 65px;
  }
}
section.faq-section {
  padding: 0;
}
section.accordion-section {
  padding: 80px 0 125px;
}
@media (max-width: 991px) {
  section.accordion-section {
    padding: 60px 0 80px;
  }
}
section.newsletter-section {
  padding: 64px 15px 70px;
}
@media (max-width: 991px) {
  section.newsletter-section {
    padding: 40px 15px 40px;
  }
}

.section-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 50px;
}
@media (max-width: 991px) {
  .section-title {
    font-size: 24px;
    margin-bottom: 35px;
  }
}
.services-section .section-title {
  color: #fff;
  text-align: start;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 28px;
}
@media (max-width: 991px) {
  .services-section .section-title {
    padding-bottom: 20px;
  }
}
.whoNeedThis-section .section-title {
  color: var(--primary-color);
}
.whatwillwYouLearn-section .section-title {
  color: var(--primary-color);
}
.about-section .section-title {
  color: var(--primary-color);
  margin: 0 0 75px;
}
@media (max-width: 991px) {
  .about-section .section-title {
    margin-bottom: 35px;
  }
}
.features-section .section-title {
  color: #fff;
}
.testimonials-section .section-title {
  color: var(--primary-color);
}
.accordion-section .section-title {
  color: var(--primary-color);
}

.manjam-btn {
  background-size: 300% 100%;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 219px;
  height: 60px;
  border-radius: 30px;
  text-decoration: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
.manjam-btn:hover {
  color: #fff;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.prelader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
}
.prelader .preloader-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.prelader .preloader-logo-cont {
  position: relative;
  width: 150px;
}
.prelader .preloader-logo-cont .colored {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-animation: loader 5s linear infinite;
          animation: loader 5s linear infinite;
}
.prelader .preloader-logo-cont .colored img {
  position: absolute;
  bottom: 0;
}
.prelader .preloader-logo-cont .filterd {
  opacity: 0.5;
  filter: grayscale(1);
}

@-webkit-keyframes loader {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes loader {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .header {
    padding: 7px 0;
  }
}

.logo-name {
  display: flex;
  align-items: center;
}

.logo {
  width: 102px;
  display: block;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) {
  .logo {
    width: 80px;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 70px;
  }
}

.coach-name-cont {
  height: 25px;
  display: flex;
  align-items: center;
  -webkit-margin-start: 20px;
          margin-inline-start: 20px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  -webkit-border-start: 1px solid #cccccc;
          border-inline-start: 1px solid #cccccc;
}
.coach-name-cont .coach-name {
  font-size: 16px;
  color: var(--third-text);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.coach-name-cont .coach-name:hover {
  color: var(--primary-color);
}

.lang-cont {
  -webkit-margin-start: 52px;
          margin-inline-start: 52px;
}

.lang {
  background-color: var(--bg-color);
  color: var(--third-text);
  width: 105px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
.lang:hover {
  color: #fff;
  background-color: var(--primary-color);
}
html[dir=rtl] .lang {
  font-family: "Poppins";
}
html[dir=ltr] .lang {
  font-family: "Noor";
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 3;
  transition: all 0.3s ease-in-out;
}
header.header-scroll {
  top: -110px;
  border-bottom: 1px solid var(--bg-color);
}
header.header-scroll .header {
  padding: 5px 0;
}
header.header-scroll .logo {
  width: 75px;
}
@media (max-width: 767px) {
  header.header-scroll .logo {
    width: 50px;
  }
}
header.header-scroll.fixsedt {
  top: 0;
  position: fixed;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header-navbar {
  padding: 0;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}

.header-nav {
  align-items: center;
}
.header-nav .nav-item ~ .nav-item {
  -webkit-margin-start: 25px;
          margin-inline-start: 25px;
}
.header-nav .nav-link {
  padding: 0;
  background-color: transparent;
  font-size: 14px;
  color: var(--primary-text);
  transition: color 0.3s ease-in-out;
}
.header-nav .nav-link:hover {
  color: var(--primary-color);
}
.header-nav .nav-link.active {
  color: var(--secondery-color);
  background-color: transparent;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
main {
  background-color: #fff;
}

.main-cont {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 160px 0 100px;
}
@media (max-width: 991px) {
  .main-cont {
    padding: 130px 0 70px;
  }
}
@media (max-width: 767px) {
  .main-cont {
    padding: 100px 0 70px;
  }
}

.main-info {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 30px;
  align-items: center;
  margin-bottom: 55px;
}
@media (max-width: 1199px) {
  .main-info {
    grid-template-columns: 2fr 1fr;
  }
}
@media (max-width: 991px) {
  .main-info {
    display: flex;
    flex-direction: column-reverse;
  }
}

.main-subtitle {
  font-size: 18px;
  color: var(--secondery-color);
  font-weight: 700;
  margin: 0 0 17px;
}
@media (max-width: 991px) {
  .main-subtitle {
    text-align: center;
    font-size: 16px;
    margin: 0 0 15px;
  }
}

.main-title {
  line-height: 1.375;
  font-size: 40px;
  color: var(--primary-color);
  font-weight: 700;
  margin: 0;
}
@media (max-width: 991px) {
  .main-title {
    text-align: center;
    font-size: 28px;
  }
}

.main-img {
  width: 100%;
  max-width: 307px;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}
@media (max-width: 991px) {
  .main-img {
    margin: auto;
  }
}
.main-img .main-img-aspect {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
.main-img .img-here {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8f2;
  overflow: hidden;
}

.info-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .info-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 15px;
  }
}
@media (max-width: 767px) {
  .info-list {
    grid-template-columns: 1fr 1fr;
    gap: 20px 15px;
    margin-bottom: 30px;
  }
}

.info-item {
  display: flex;
  align-items: flex-start;
  margin: 0 35px;
}
@media (max-width: 1199px) {
  .info-item {
    margin: 0 20px;
  }
}
@media (max-width: 991px) {
  .info-item {
    margin: 0;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .info-item {
    justify-content: flex-start;
  }
}
.info-item .item-icon {
  width: 33px;
  font-size: 26px;
  color: var(--secondery-color);
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .info-item .item-icon {
    width: 25px;
    font-size: 20px;
  }
}
.info-item .item-text {
  font-size: 18px;
}
@media (max-width: 767px) {
  .info-item .item-text {
    font-size: 14px;
  }
}
.info-item span {
  color: var(--third-text);
  display: flex;
  height: 26px;
  margin-bottom: 4px;
}
.info-item strong {
  color: var(--primary-text);
  font-weight: 700;
}

.subscribe {
  background-image: linear-gradient(to right, var(--gradient-one), var(--gradient-two), var(--gradient-two), var(--gradient-one));
}
.subscribe:hover {
  background-position: 100% 0;
}

.scroll-down-btn {
  position: absolute;
  bottom: 30px;
  transform: translateX(-50%);
  left: 50%;
  font-size: 30px;
  color: #b2b2b2;
  -webkit-animation: scr-pos 2s infinite;
          animation: scr-pos 2s infinite;
  transition: color 0.3s ease-in-out;
}
.scroll-down-btn:hover {
  color: var(--secondery-color);
}
@media (max-width: 991px) {
  .scroll-down-btn {
    display: none;
  }
}

@-webkit-keyframes scr-pos {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes scr-pos {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(5px);
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.services-section {
  background-color: var(--primary-color);
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 100px;
}
@media (max-width: 991px) {
  .services-grid {
    gap: 0 30px;
  }
}
@media (max-width: 767px) {
  .services-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.service-item {
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .service-item {
    margin: 0;
  }
}
.service-item .item-title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 15px;
}
.service-item .item-desc {
  font-size: 16px;
  color: var(--secondery-text);
  line-height: 1.875;
  margin: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.whoNeedThis-section {
  background-color: #f3f3f8;
}

.whoNeedThis-list {
  margin: 0 0 47px;
}
.whoNeedThis-list li {
  font-size: 18px;
  color: var(--primary-text);
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .whoNeedThis-list li {
    font-size: 16px;
    align-items: flex-start;
  }
}
.whoNeedThis-list li ~ li {
  margin-top: 13px;
}
.whoNeedThis-list li::before {
  background-image: linear-gradient(90deg, var(--gradient-one) 0%, var(--gradient-two) 100%);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  content: "";
  flex-shrink: 0;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}
@media (max-width: 767px) {
  .whoNeedThis-list li::before {
    margin-top: 7px;
    -webkit-margin-end: 15px;
            margin-inline-end: 15px;
  }
}

.banner {
  background-image: linear-gradient(90deg, var(--gradient-one) 0%, var(--gradient-two) 100%);
  padding: 45px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .banner {
    flex-direction: column;
    padding: 35px 15px;
  }
}
@media (max-width: 767px) {
  .banner {
    margin: 0 -15px;
  }
}
.banner .banner-title {
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 991px) {
  .banner .banner-title {
    margin-bottom: 30px;
    font-size: 22px;
    text-align: center;
  }
}
.banner .banner-btn {
  background-color: var(--primary-color);
  position: relative;
  transform: perspective(1px) translateZ(0);
  transition: all 0.3s ease-in-out;
}
.banner .banner-btn:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}
.banner .banner-btn:hover {
  color: #fff;
  transform: translateY(-5px);
}
.banner .banner-btn:hover::before {
  opacity: 1;
  transform: translateY(5px);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.whatwillYouLearn-section {
  background-color: #fff;
}

.whatwillYouLearn-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px 30px;
}
@media (max-width: 1199px) {
  .whatwillYouLearn-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .whatwillYouLearn-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.whatwillYouLearn-item {
  display: flex;
  align-items: flex-start;
}
.whatwillYouLearn-item .icon {
  font-size: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: linear-gradient(90deg, var(--gradient-one) 0%, var(--gradient-two) 100%);
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  -webkit-margin-end: 18px;
          margin-inline-end: 18px;
}
.whatwillYouLearn-item .text {
  font-size: 18px;
  color: var(--primary-text);
  margin: 9px 0 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.dontMiss-section {
  background-color: var(--primary-color);
  text-align: center;
}
.dontMiss-section .dontMiss-title {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  margin: 0 0 24px;
}
@media (max-width: 991px) {
  .dontMiss-section .dontMiss-title {
    font-size: 26px;
    margin-bottom: 15px;
  }
}
.dontMiss-section .dontMiss-subtitle {
  font-size: 22px;
  color: var(--secondery-text);
  font-weight: 400;
  margin: 0 0 45px;
}
@media (max-width: 991px) {
  .dontMiss-section .dontMiss-subtitle {
    font-size: 18px;
    margin-bottom: 25px;
  }
}
.dontMiss-section .dontMiss-btn {
  background-image: linear-gradient(to right, var(--gradient-one), var(--gradient-two), var(--gradient-two), var(--gradient-one));
  margin: auto;
}
.dontMiss-section .dontMiss-btn:hover {
  background-position: 100% 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.about-section {
  background-color: #fff;
}

.about-flex {
  display: flex;
}
@media (max-width: 767px) {
  .about-flex {
    flex-direction: column;
    align-items: center;
  }
}
.about-flex .about-img {
  width: 100%;
  max-width: 261px;
  -webkit-margin-end: 40px;
          margin-inline-end: 40px;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .about-flex .about-img {
    margin: auto;
  }
}
.about-flex .about-img .about-img-aspect {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
.about-flex .about-img .img-here {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8f2;
  overflow: hidden;
}
.about-flex .about-info {
  margin-top: 13px;
}
.about-flex .about-name {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 17px;
  color: var(--primary-text);
}
@media (max-width: 767px) {
  .about-flex .about-name {
    text-align: center;
    margin-bottom: 10px;
  }
}
.about-flex .about-summary {
  color: var(--footer-text);
  line-height: 1.667;
  font-size: 18px;
  margin: 0 0 30px;
  width: 100%;
  max-width: 734px;
}
@media (max-width: 767px) {
  .about-flex .about-summary {
    max-width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.about-flex .about-socials {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .about-flex .about-socials {
    justify-content: center;
  }
}
.about-flex .about-socials a {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.about-flex .about-socials a ~ a {
  -webkit-margin-start: 14px;
          margin-inline-start: 14px;
}
.about-flex .about-socials a.telegram {
  background-color: #28a4e4;
}
.about-flex .about-socials a.youtube {
  background-color: #ff0303;
}
.about-flex .about-socials a.twitter {
  background-color: #1c96e8;
}
.about-flex .about-socials a.facebook {
  background-color: #1773ea;
}
.about-flex .about-socials a .la-facebook::before {
  content: "\f39e";
}
.about-flex .about-socials a:hover {
  color: #fff;
  background-color: var(--secondery-color);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.features-section {
  background-color: var(--primary-color);
}

.feats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media (max-width: 991px) {
  .feats-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .feats-grid {
    grid-template-columns: 1fr;
  }
}

.feat-item {
  position: relative;
}
.feat-item .feat-icon {
  margin: auto;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, var(--gradient-one) 0%, var(--gradient-two) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 48px;
  position: relative;
  z-index: 2;
}
.feat-item .feat-cont {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  line-height: 1.445;
  margin: 0;
  text-align: center;
  padding: 14px 15px 28px;
  position: relative;
  z-index: 2;
}
.feat-item::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 48px;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  opacity: 0.102;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.testimonials-section {
  background-color: #fff;
}

.testimonial {
  border: 3px solid var(--bg-color);
  border-radius: 15px;
  padding: 20px 27px 28px;
}
.testimonial .review {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7;
  color: var(--primary-text);
  text-align: justify;
  padding: 0 13px;
  margin: 0 0 23px;
  height: 170px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media (max-width: 1199px) {
  .testimonial .review {
    font-size: 16px;
    height: 136px;
  }
}
.testimonial .user {
  display: flex;
  align-items: center;
}
.testimonial .user-img {
  width: 91px;
  height: 91px;
  background-color: #e8e8f2;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}
.testimonial .user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial .user-text {
  display: flex;
  flex-direction: column;
}
.testimonial .user-name {
  font-size: 18px;
  color: var(--primary-text);
  font-weight: 700;
  margin-bottom: 5px;
}
.testimonial .user-job {
  font-size: 14px;
  color: var(--third-text);
}

.testimonials-slider {
  position: relative;
}
.testimonials-slider .swiper-pagination {
  position: relative;
  inset: auto;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
@media (max-width: 1300px) {
  .testimonials-slider .swiper-pagination {
    display: flex;
  }
}
.testimonials-slider .swiper-pagination .swiper-pagination-bullet {
  background-color: #000;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
.testimonials-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--secondery-color);
}
.testimonials-slider .swiper-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #253138;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1300px) {
  .testimonials-slider .swiper-btn {
    display: none;
  }
}
.testimonials-slider .swiper-btn:hover {
  color: var(--primary-color);
  opacity: 1;
}
.testimonials-slider .swiper-btn.swiper-btn-next {
  left: -50px;
}
.testimonials-slider .swiper-btn.swiper-btn-prev {
  right: -50px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.accordion-section {
  background-color: #fff;
}

.faq-accordion {
  margin: auto;
  width: 100%;
  max-width: 750px;
}
.faq-accordion .faq-item {
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
}
.faq-accordion .faq-header .accordion-button {
  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-text);
  display: flex;
  align-items: stretch;
}
@media (max-width: 767px) {
  .faq-accordion .faq-header .accordion-button {
    font-size: 16px;
    line-height: 1.765;
  }
}
.faq-accordion .faq-header .accordion-button::after {
  display: none;
}
.faq-accordion .faq-header .accordion-button .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--faq-bg);
  width: 100%;
  padding: 30px;
}
.faq-accordion .faq-header .accordion-button .question i {
  font-size: 24px;
}
@media (max-width: 767px) {
  .faq-accordion .faq-header .accordion-button .question {
    padding: 30px 15px;
  }
}
.faq-accordion .faq-header .accordion-button:not(.collapsed) {
  color: var(--secondery-color);
}
.faq-accordion .faq-header .accordion-button:not(.collapsed) .question i::before {
  content: "\f068";
}
.faq-accordion .number {
  width: 80px;
  min-height: 100%;
  background-color: var(--bg-color);
  flex-shrink: 0;
  -webkit-border-end: 1px solid var(--faq-border);
          border-inline-end: 1px solid var(--faq-border);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .faq-accordion .number {
    display: none;
  }
}
.faq-accordion .faq-body {
  padding: 0;
  background-color: var(--faq-bg);
  display: flex;
  align-items: stretch;
}
.faq-accordion .answer {
  line-height: 1.765;
  font-size: 17px;
  color: var(--footer-text);
  text-align: justify;
  margin: 0;
  padding: 0 30px 30px;
  -webkit-padding-end: 80px;
          padding-inline-end: 80px;
}
@media (max-width: 767px) {
  .faq-accordion .answer {
    padding: 0 15px 30px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition-property: height, visibility;
    transition-duration: 0.35s;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.newsletter-section {
  background-color: var(--primary-color);
  text-align: center;
}

.newsletter-title {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 25px;
}
@media (max-width: 991px) {
  .newsletter-title {
    font-size: 26px;
    margin-bottom: 15px;
  }
}

.newsletter-subtitle {
  font-size: 22px;
  color: var(--secondery-text);
  font-weight: 400;
  margin: 0 0 40px;
}
@media (max-width: 991px) {
  .newsletter-subtitle {
    font-size: 18px;
    margin-bottom: 25px;
  }
}

.newsletter-form {
  width: 100%;
  max-width: 550px;
  margin: auto;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .newsletter-form {
    flex-direction: column;
  }
}

.newsletter-input {
  background-color: #ffffff;
  height: 60px;
  border-radius: 30px;
  width: 100%;
  border: 2px solid #fff;
  color: var(--primary-text);
  font-weight: 400;
  font-size: 18px;
  font-family: "Poppins";
  padding: 0 35px;
  transition: border-color 0.3s ease-in-out;
}
html[dir=rtl] .newsletter-input {
  direction: rtl;
}
html[dir=ltr] .newsletter-input {
  direction: ltr;
}
.newsletter-input::-moz-placeholder {
  color: #999999;
  font-size: 16px;
}
.newsletter-input:-ms-input-placeholder {
  color: #999999;
  font-size: 16px;
}
.newsletter-input::placeholder {
  color: #999999;
  font-size: 16px;
}
html[dir=rtl] .newsletter-input::-moz-placeholder {
  font-family: "Noor";
}
html[dir=rtl] .newsletter-input:-ms-input-placeholder {
  font-family: "Noor";
}
html[dir=rtl] .newsletter-input::placeholder {
  font-family: "Noor";
}
html[dir=ltr] .newsletter-input::-moz-placeholder {
  font-family: "Poppins";
}
html[dir=ltr] .newsletter-input:-ms-input-placeholder {
  font-family: "Poppins";
}
html[dir=ltr] .newsletter-input::placeholder {
  font-family: "Poppins";
}
.newsletter-input:focus {
  border-color: var(--secondery-color);
}
@media (max-width: 767px) {
  .newsletter-input {
    text-align: center;
  }
}

.newsletter-button {
  width: 181px;
  height: 60px;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  flex-shrink: 0;
  background-image: linear-gradient(to right, var(--gradient-one), var(--gradient-two), var(--gradient-two), var(--gradient-one));
}
.newsletter-button:hover {
  background-position: 100% 0;
}
@media (max-width: 767px) {
  .newsletter-button {
    margin-top: 10px;
    width: 100%;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
footer {
  background-color: #fff;
  text-align: center;
  color: var(--footer-text);
  font-size: 12px;
  padding: 68px 15px;
}
@media (max-width: 991px) {
  footer {
    padding: 25px 15px;
  }
}

.scroll-up {
  position: fixed;
  bottom: 30px;
  inset-inline-end: 30px;
  z-index: 2;
  text-decoration: none;
  display: none;
}
@media (max-width: 767px) {
  .scroll-up {
    bottom: 20px;
    inset-inline-end: 15px;
  }
}
.scroll-up i {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  background-size: 300% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, var(--gradient-one), var(--gradient-two), var(--gradient-two), var(--gradient-one));
  transition: all 0.5s ease-in-out;
}
.scroll-up i:hover {
  color: #fff;
  background-position: 100% 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.modal {
  --bs-modal-width: 361px;
}
.modal .modal-dialog {
  opacity: 0;
}
@media (prefers-reduced-motion: reduce) {
  .modal .modal-dialog {
    transition: all 0.5s ease-in-out !important;
  }
}
.modal.show .modal-dialog {
  opacity: 1;
}
.modal .custom-modal-content {
  border: none;
  border-radius: 0;
  padding: 50px 30px 28px;
}
.modal .modal-header {
  border: none;
  padding: 0;
  margin: 0 0 28px;
  display: block;
}
.modal .modal-title {
  font-size: 16px;
  color: var(--primary-color);
  text-align: center;
  margin: 0;
  font-weight: 700;
}
.modal .btn-close {
  position: absolute;
  top: 12px;
  inset-inline-end: 12px;
  background: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #808080;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.modal .btn-close:hover {
  color: var(--primary-color);
}
.modal .modal-body {
  padding: 0;
}
.modal .join-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: 20px;
}
.modal .nav-item {
  margin: 0 10px;
}
.modal .nav-link {
  border: 3px solid var(--bg-color);
  background-color: #fff;
  border-radius: 10px;
  width: 74px;
  height: 74px;
  color: #b2b2b2;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: all 0.3s ease-in-out;
}
.modal .nav-link:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.modal .nav-link.active {
  border-color: var(--secondery-color);
  color: var(--secondery-color);
}
.modal .form-group {
  margin-bottom: 17px;
}
.modal .modal-input {
  width: 100%;
  background-color: #f7f7f7;
  height: 45px;
  border-radius: 22.5px;
  border: 2px solid #f7f7f7;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text);
  font-family: "Poppins";
  padding: 0 24px;
  transition: all 0.3s ease-in-out;
}
.modal .modal-input::-moz-placeholder {
  color: #999999;
  font-size: 13px;
}
.modal .modal-input:-ms-input-placeholder {
  color: #999999;
  font-size: 13px;
}
.modal .modal-input::placeholder {
  color: #999999;
  font-size: 13px;
}
html[dir=rtl] .modal .modal-input::-moz-placeholder {
  font-family: "Noor";
}
html[dir=rtl] .modal .modal-input:-ms-input-placeholder {
  font-family: "Noor";
}
html[dir=rtl] .modal .modal-input::placeholder {
  font-family: "Noor";
}
html[dir=ltr] .modal .modal-input::-moz-placeholder {
  font-family: "Poppins";
}
html[dir=ltr] .modal .modal-input:-ms-input-placeholder {
  font-family: "Poppins";
}
html[dir=ltr] .modal .modal-input::placeholder {
  font-family: "Poppins";
}
.modal .modal-input:focus {
  border-color: var(--secondery-color);
}
html[dir=rtl] .modal .modal-input {
  direction: rtl;
}
html[dir=ltr] .modal .modal-input {
  direction: ltr;
}
.modal .input-hint {
  color: #24c01c;
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-top: 7px;
  padding: 0 24px;
}
.modal .input-hint span {
  -webkit-margin-start: 3px;
          margin-inline-start: 3px;
}
.modal .modal-footer {
  padding: 0 0;
  border: 0;
}
.modal .modal-btn {
  width: 100%;
  height: 45px;
  border-radius: 22.5px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 100%;
  margin: 0;
  border: none;
  text-decoration: none;
  background-image: linear-gradient(to right, var(--gradient-one), var(--gradient-two), var(--gradient-two), var(--gradient-one));
  transition: all 0.5s ease-in-out;
}
.modal .modal-btn:hover {
  background-position: 100% 0;
  color: #fff;
}
.modal .count-down {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text);
  font-size: 13px;
  margin-bottom: 17px;
}
.modal .count-down .counter {
  -webkit-margin-start: 3px;
          margin-inline-start: 3px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.checkout-page {
  min-height: calc(100vh - 68px);
  padding: 150px 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .checkout-page {
    min-height: calc(100vh - 43px);
    padding: 100px 0 40px;
  }
}
.checkout-page ~ footer {
  padding: 0 15px 50px;
}
@media (max-width: 991px) {
  .checkout-page ~ footer {
    padding: 0 15px 25px;
  }
}
.checkout-page .checkout-title {
  margin: 0;
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 700;
  text-align: center;
  margin-bottom: 70px;
}
@media (max-width: 991px) {
  .checkout-page .checkout-title {
    margin-bottom: 30px;
  }
}

.form-title {
  font-weight: 700;
  font-size: 14px;
  margin: 0 0 17px;
  color: var(--primary-color);
}
@media (max-width: 991px) {
  .form-title {
    text-align: center;
  }
}

.checkout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media (max-width: 1199px) {
  .checkout-grid {
    gap: 15px;
  }
}
@media (max-width: 991px) {
  .checkout-grid {
    grid-template-columns: 1fr;
    gap: 45px;
  }
  .checkout-grid .form-half {
    order: 2;
  }
}

.session-details {
  display: flex;
  align-items: flex-start;
}
.session-details .coach-img {
  width: 100%;
  max-width: 68px;
}
.session-details .coach-img .coach-img-aspect {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}
.session-details .coach-img .img-here {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8f2;
  overflow: hidden;
}
.session-details .sesion-info {
  -webkit-margin-start: 20px;
          margin-inline-start: 20px;
}
.session-details .session-name {
  font-size: 16px;
  color: var(--primary-text);
  font-weight: 400;
  width: 100%;
  max-width: 350px;
  margin: 0 0 12px;
  line-height: 1.5;
}
.session-details .session-feats {
  margin: 0 0 20px;
  line-height: 1.571;
}
.session-details .session-feats li {
  display: flex;
  align-items: center;
  color: var(--third-text);
  font-size: 14px;
}
.session-details .session-feats span {
  -webkit-margin-start: 3px;
          margin-inline-start: 3px;
}
.session-details .session-price {
  font-size: 24px;
  font-weight: 700px;
  color: var(--secondery-color);
}

.checkout-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 10px;
  margin-bottom: 35px;
}
@media (max-width: 991px) {
  .checkout-form-grid {
    grid-template-columns: 1fr;
  }
}

.checkout-form-group {
  position: relative;
}
.checkout-form-group .valid {
  height: 45px;
  display: flex;
  align-items: center;
  position: absolute;
  inset-inline-end: 13px;
  top: 0;
  font-size: 24px;
  color: #23bc09;
}

.checkout-input {
  width: 100%;
  background-color: #f7f7f7;
  height: 45px;
  border-radius: 22.5px;
  border: 2px solid #f7f7f7;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text);
  padding: 0 24px;
  transition: all 0.3s ease-in-out;
}
.checkout-input::-moz-placeholder {
  color: #999999;
  font-size: 13px;
}
.checkout-input:-ms-input-placeholder {
  color: #999999;
  font-size: 13px;
}
.checkout-input::placeholder {
  color: #999999;
  font-size: 13px;
}
.checkout-input:focus {
  border-color: var(--secondery-color);
}
html[dir=rtl] .checkout-input {
  direction: rtl;
}
html[dir=ltr] .checkout-input {
  direction: ltr;
}
.checkout-input[type=email] {
  font-family: "Poppins";
}
html[dir=rtl] .checkout-input[type=email]::-moz-placeholder {
  font-family: "Noor";
}
html[dir=rtl] .checkout-input[type=email]:-ms-input-placeholder {
  font-family: "Noor";
}
html[dir=rtl] .checkout-input[type=email]::placeholder {
  font-family: "Noor";
}
html[dir=ltr] .checkout-input[type=email]::-moz-placeholder {
  font-family: "Poppins";
}
html[dir=ltr] .checkout-input[type=email]:-ms-input-placeholder {
  font-family: "Poppins";
}
html[dir=ltr] .checkout-input[type=email]::placeholder {
  font-family: "Poppins";
}

.payment-radios {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .payment-radios {
    justify-content: center;
  }
}

.payment-radio {
  margin-bottom: 10px;
}
.payment-radio ~ .payment-radio {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}
@media (max-width: 991px) {
  .payment-radio {
    margin: 0 5px 10px;
  }
  .payment-radio ~ .payment-radio {
    margin: 0 5px 10px;
  }
}
.payment-radio label {
  margin: 0;
}
.payment-radio .payment-img {
  border: 3px solid var(--bg-color);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 60px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}
.payment-radio .payment-img:hover {
  border-color: var(--primary-color);
}
.payment-radio input {
  display: none;
}
.payment-radio input:checked ~ .payment-img {
  border-color: var(--secondery-color);
}

.checkout-btn {
  margin: 45px auto 0;
  background-image: linear-gradient(to right, var(--gradient-one), var(--gradient-two), var(--gradient-two), var(--gradient-one));
}
@media (max-width: 991px) {
  .checkout-btn {
    margin-top: 30px;
  }
}
.checkout-btn:hover {
  background-position: 100% 0;
}

.enroll-success-cont {
  text-align: center;
}

.success-icon {
  font-size: 100px;
  color: #23bc09;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.success-msg {
  font-size: 18px;
  color: var(--primary-color);
  margin: 0;
}
.success-msg strong {
  color: var(--secondery-color);
  font-weight: 700;
  margin: 10px 0;
  display: block;
}

.enroll-success-btn {
  font-size: 14px;
  margin: 35px auto 0;
  width: 181px;
  height: 42px;
  background-image: linear-gradient(to right, var(--gradient-one), var(--gradient-two), var(--gradient-two), var(--gradient-one));
}
.enroll-success-btn:hover {
  background-position: 100% 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 991px) {
  .header-navbar {
    position: fixed;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    height: 350px;
    z-index: 11;
    display: none;
  }
  .header-navbar .header-nav {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 0;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    opacity: 0;
  }
  .header-navbar .header-nav.active {
    opacity: 1;
    transform: scale(1);
  }
  .header-navbar .nav-item {
    margin: 10px 0;
  }
  .header-navbar .nav-item ~ .nav-item {
    margin-inline: 0;
  }
  .header-navbar .nav-link {
    font-weight: 400;
    font-size: 17px;
  }
  .header-navbar .nav-link:hover {
    color: var(--primary-color);
  }
  .header-navbar .nav-link.active {
    color: var(--secondery-color);
  }
  .header-navbar .lang-cont {
    margin: 10px 0;
  }
}
.menu-btn {
  font-size: 30px;
  color: var(--primary-text);
  padding: 0;
  background-color: transparent;
  border: none;
  display: none;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .menu-btn {
    display: flex;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
}

.nav-head {
  display: none;
  position: absolute;
  top: 15px;
  inset-inline-end: 15px;
}
.nav-head .close-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #808080;
  transition: all 0.3s ease-in-out;
}
.nav-head .close-btn:hover {
  color: var(--primary-color);
}
@media (max-width: 991px) {
  .nav-head {
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */